<h1><%= @song.title %> の演奏をアップロード</h1>

<%= form_with url: submit_song_path(@song), local: true, method: :post, multipart: true do |f| %>
  <%= f.file_field :performance_file %>
  <%= f.submit "アップロード" %>
<% end %>
